@font-face {
  font-family: Minecraftia;
  src: url(/styles/Minecraft.otf);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 70%;
  font-family: Minecraftia;
}

body {
  background-image: url(/images/Minecraft.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

div {
  text-align: center;
}

button {
  background-color: lightgray;
  font-size: 17px;
  font-family: Minecraftia;
  width: 300px;
  height: 73px;
  margin: 5px;
  padding-bottom: 7px;
  border: 3px solid black;
  background: linear-gradient(to top, gray 7px, transparent 1px),

    linear-gradient(to top, white 10px, transparent 1px),

    linear-gradient(to bottom, white 3px, transparent 1px),

    linear-gradient(to left, white 3px, transparent 1px),

    linear-gradient(to right, white 3px, whitesmoke 1px);
}

button:active {
  width: 300px;
  height: 73px;
  margin: 5px;
  padding-top: 8px;
  border: none;
  font-family: 'Minecraftia';
  font-weight: normal;
  font-style: normal;
  border: 3px solid black;
  transform: translateY(3px);
  background: linear-gradient(to top, white 3px, transparent 1px),

    linear-gradient(to bottom, white 3px, transparent 1px),

    linear-gradient(to left, white 3px, transparent 1px),

    linear-gradient(to right, white 3px, lightgray 1px);
}